/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-regular);
  background-image: var(--background-gradient);
  background-attachment: fixed; 
  background-size: cover;
}

.header {
  width: var(--block-width);
  margin: 0 auto; 
  margin-block-start: 100px; 
}

.logo-group {
  border: 2px solid var(--color);
  background-color: var(--background-color);
  height: 368px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: var(--logo-group-gap); 
}

.text__tag {
  font-family: var(--font-accent), var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: var(--logo-title-primary);
  text-transform: uppercase;
  color: var(--color);

}

.close__tag {
  font-family: var(--font-accent), var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: var(--logo-title-secondary);
  text-transform: uppercase;
  color: var(--color);
}

.cards {
  width: var(--block-width);
  border: 2px solid var(--color);
  margin: 0 auto;
  background-color: var(--background-color);
  padding-block-end: 25px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 98px;
}

.card__header {
  padding: 4px 10px;
}

.card__title {
  font-family: var(--font-main);
  font-size: var(--main-font-size);
  line-height: var(--card__title_line-height);
  color: var(--color);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.cards__img {
  width: 100%;
  aspect-ratio: 1;
  display: block;
}

.cards__paragraph {
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: var(--cards_paragraph_line-height);
  color: var(--color);
  margin-block-start: 25px;
}

.cards__memories {
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: var(--cards_paragraph_line-height);
  color: var(--color);
}

.cards-gap {
  display: grid;
  gap: var(--cards-gap);
  padding-inline: 25px;
}

.button__container {
  margin-top: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 38px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.like-icon {
  width: 27px;
  height: 24px;
  fill: currentColor;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  color: var(--color);
  text-transform: capitalize;
  line-height: 90%;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.image-wrapper {
  position: relative;
  display: block;
}

.image-logo {
    font-family: var(--font-accent);
    font-size: 14px;
    text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color);
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 1;
    opacity: 50%;
    text-transform: uppercase;
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .image-logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color, #fff);
    text-stroke: 1px var(--stroke-color, #fff);
  }
}