/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --font-weight-regular: 410;
  --font-weight-bold: 715;
  --background-gradient: 
        repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
        ),

        repeating-linear-gradient(
        to bottom,
        #d3d3d3 0 2px,
        transparent 2px 4px
        ),

        linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a
        );
  --block-width: clamp(375px, 282.14px + 29.02vw, 700px);
  --logo-title-primary: clamp(49px, 8vw, 65px);   
  --logo-title-secondary: clamp(14px, 3vw, 23px); 
  --logo-group-gap: 20px;
  --background-color: #FFFFFF;
  --color: #000000;
  --main-font-size: 18px;
  --card__title_line-height: 22px;
  --cards_paragraph_line-height: 21px;
  --cards-gap: 25px;
  --stroke-color: #FFFFFF;
  --padding-header: clamp(6.78rem, 5.5rem + 1.91vw, 7.23rem);
}